@import "base/variables";
body {
    background-color: #f6f6f6;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    font-family: "MuseoModerno";
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/second";
@import "blocks/media";
@import "blocks/consultation";
@import "blocks/tittle";
@import "blocks/forms";
