@import "base/variables";

.container {
    max-width: 950px;
    margin: 0 auto;
    font-family: "MuseoModerno";
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/second";

