* {
    box-sizing: border-box;
    margin: 0;
}

@import "base/variables";
@import "base/animations";
body {
    background-color: #ffffff;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    font-family: "MuseoModerno";
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/second";
@import "blocks/consultation";
@import "blocks/tittle";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reports";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";

@import "blocks/media";
