.feed-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    input {
        margin-top: 11px;
        width: 303px;
        border: none;
        padding: 0 20px;
        font-weight: 400;
        font-size: 14px;
        height: 54px;
        color: #4b4b4b;
    }
}
