.tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
    &_left {
        font-size: 36px;
        color: #ffffff;
        text-align: left;
        
    }
}
