.button {
    display: block;
    width: 153px;
    height: 32px;
    margin-top: 10px;
    background-color: $main-color;
    color: white;
    font-family: "MuseoModerno-Light";
    border-radius: 5px;
    width: 303px;
    text-transform: uppercase;
    background-color: $main-color;
    font-weight: 500;
    &_main {
        margin-top: 67px;
        height: 54px;
        font-size: 16px;
        line-height: 25px;
    }
    &_submit {
        display: block;
        font-size: 16px;
        line-height: 25px;
        height: 58px;
    }
}
